#pragma once

/************************************************************************************************
 * @file   {{ project_name }}_getters.h
 *
 * @brief  Project code generation header
 *
 * @date   {{ current_date }}
 * @author Midnight Sun Team #24 - MSXVI
 ************************************************************************************************/

/* Standard library Headers */

/* Inter-component Headers */

/* Intra-component Headers */
#include "can_codegen.h"

/**
 * @defgroup {{ project_name }}_CAN
 * @brief    CAN Interface for {{ project_name }}
 * @{
 */
{% set messages = messages | selectattr("receiver", "contains", project_name) | list -%}

{% for message in messages %}
    {%- for signal in message.signals %}
#define get_{{message.name}}_{{signal.name}}() \
    g_rx_struct.{{message.name}}_{{signal.name}}
    {% endfor %}
#define get_received_{{message.name}}() \
    g_rx_struct.received_{{message.name}}
{% endfor %}
/** @} */
