#pragma once

/************************************************************************************************
 * @file   {{ project_name }}_setters.h
 *
 * @brief  Project code generation header
 *
 * @date   {{ current_date }}
 * @author Midnight Sun Team #24 - MSXVI
 ************************************************************************************************/

/* Standard library Headers */

/* Inter-component Headers */

/* Intra-component Headers */
#include "can_codegen.h"

/**
 * @defgroup {{ project_name }}_CAN
 * @brief    CAN Interface for {{ project_name }}
 * @{
 */
{% set messages = messages | selectattr("sender", "eq", project_name) | list -%}

{% for message in messages %}    
    {%- for signal in message.signals %}
        {%- if signal.type == "bitfield" %}
#define set_{{message.name}}_{{signal.name}}_raw(val) \
    g_tx_struct.{{message.name}}_{{signal.name}} = val
            {%- for flag in signal.flags %}
#define set_{{message.name}}_{{signal.name}}_{{flag["name"]}}(val) \
    g_tx_struct.{{message.name}}_{{signal.name}} = \
    (g_tx_struct.{{message.name}}_{{signal.name}} & ~(0b{{"1" * flag["length"]}} << {{flag["offset"]}})) | ((val & 0b{{"1" * flag["length"]}}) << {{flag["offset"]}})
            {%- endfor %}
        {%- else %}
#define set_{{message.name}}_{{signal.name}}(val) \
    g_tx_struct.{{message.name}}_{{signal.name}} = val
        {% endif %}
    {% endfor %}
{%- endfor %}
/** @} */
