/************************************************************************************************
 * @file   {{ project_name }}_rx_all.c
 *
 * @brief  Source file for receiving all CAN messages
 *
 * @date   {{ current_date }}
 * @author Midnight Sun Team #24 - MSXVI
 ************************************************************************************************/

/* Standard library Headers */
#include <stdint.h>

/* Inter-component Headers */
#include "can.h"
#include "system_can.h"
#include "crc8.h"

/* Intra-component Headers */
#include "can_codegen.h"
#include "can_watchdog.h"
{% set messages = messages | selectattr("receiver", "contains", project_name) | list -%}
{%- for message in messages %}
    {%- if message.receiver[project_name].watchdog != 0 %}
CanWatchDog s_{{message.name}}_msg_watchdog = {0, {{message.receiver[project_name].watchdog | lower}}, 0};
    {%- endif %}
{%- endfor %}
{% set crc_rx_messages = messages | selectattr("crc") | list -%}
{% if crc_rx_messages | length > 0 -%}
static uint8_t s_last_seq_counter[{{ crc_rx_messages | length }}] = { 0U };
static bool s_seq_counter_initialized[{{ crc_rx_messages | length }}] = { false };
{% endif -%}

void can_rx_all() {
    CanMessage msg = { 0 };
    while (can_receive(&msg) == STATUS_CODE_OK) {
        /* TODO: Not sure if loop is best way */
        /* Might be O(n) */
        /* If store all functions in callback array may be better? */
        /* Or do some sort or binary search for O(lgn) */

        if (can_get_rx_all_cb() != NULL) {
            can_get_rx_all_cb()(&msg);
        }

        /* Cache the data */
        uint64_t data = msg.data;

        switch (msg.id.raw) {
        {%- set ns = namespace(crc_idx=0) %}
        {%- for message in messages %}
            case SYSTEM_CAN_MESSAGE_{{message.sender | upper}}_{{message.name | upper}}:
            {%- if message.crc %}
            {%- set signal_bytes = (message.signals | sum(attribute='length') / 8) | int %}
            {
                uint8_t received_crc = (uint8_t)(data >> {{ (signal_bytes + 1) * 8 }});
                uint8_t computed_crc = crc8_calculate((const uint8_t *)&data, {{ signal_bytes + 1 }});
                if (received_crc != computed_crc) {
                    g_rx_struct.crc_error_{{message.name}}++;
                    break;
                }
                uint8_t received_seq_counter = (uint8_t)(data >> {{ signal_bytes * 8 }});
                bool seq_counter_ok = !s_seq_counter_initialized[{{ ns.crc_idx }}] ||
                    (received_seq_counter == ((s_last_seq_counter[{{ ns.crc_idx }}] + 1U) & 0xFFU));
                s_last_seq_counter[{{ ns.crc_idx }}] = received_seq_counter;
                s_seq_counter_initialized[{{ ns.crc_idx }}] = true;
                if (!seq_counter_ok) {
                    g_rx_struct.seq_counter_error_{{message.name}}++;
                    break;
                }
            {%- for signal in message.signals %}
                g_rx_struct.{{message.name}}_{{signal.name}} = (data >> {{signal.start_bit}});
            {%- endfor %}
                g_rx_struct.received_{{message.name}} = true;
            {%- if message.receiver[project_name].watchdog %}
                s_{{message.name}}_msg_watchdog.cycles_over = 0;
            {%- endif %}
            }
            {%- set ns.crc_idx = ns.crc_idx + 1 %}
            {%- else %}
            {%- for signal in message.signals %}
                g_rx_struct.{{message.name}}_{{signal.name}} = (data >> {{signal.start_bit}});
            {%- endfor %}
                g_rx_struct.received_{{message.name}} = true;
            {%- if message.receiver[project_name].watchdog %}
                s_{{message.name}}_msg_watchdog.cycles_over = 0;
            {%- endif %}
            {%- endif %}
                break;
        {%- endfor %}
            default:
                break;
        }
    }
}

void clear_all_rx_received() {
{%- for message in messages %}
    g_rx_struct.received_{{message.name}} = false;
{%- endfor %}
}

void clear_fast_rx_received() {
{%- for message in messages %}
{%- if message.cycle == "fast" %}
    g_rx_struct.received_{{message.name}} = false;
{%- endif %}
{%- endfor %}
}

void clear_medium_rx_received() {
{%- for message in messages %}
{%- if message.cycle == "medium" %}
    g_rx_struct.received_{{message.name}} = false;
{%- endif %}
{%- endfor %}
}

void clear_slow_rx_received() {
{%- for message in messages %}
{%- if message.cycle == "slow" %}
    g_rx_struct.received_{{message.name}} = false;
{%- endif %}
{%- endfor %}
}

StatusCode check_all_can_watchdogs() {
{%- for message in messages %}
    {%- if message.receiver[project_name].watchdog != 0 %}
    if (!g_rx_struct.received_{{message.name}}) {
        ++s_{{message.name}}_msg_watchdog.cycles_over;
        if (s_{{message.name}}_msg_watchdog.cycles_over >= s_{{message.name}}_msg_watchdog.max_cycles) {
            LOG_CRITICAL("DID NOT RECEIVE CAN MESSAGE: %u IN MAX CYCLES : %u\n", SYSTEM_CAN_MESSAGE_{{message.sender | upper}}_{{message.name | upper}},
                            s_{{message.name}}_msg_watchdog.max_cycles);
            s_{{message.name}}_msg_watchdog.missed = true;
        } else {
            s_{{message.name}}_msg_watchdog.missed = false;
        }
    }
    {%- endif %}
{%- endfor %}
    return STATUS_CODE_OK;
}

StatusCode check_fast_can_watchdogs() {
{%- for message in messages %}
{%- if message.cycle == "fast" %}
    {%- if message.receiver[project_name].watchdog != 0 %}
    if (!g_rx_struct.received_{{message.name}}) {
        ++s_{{message.name}}_msg_watchdog.cycles_over;
        if (s_{{message.name}}_msg_watchdog.cycles_over >= s_{{message.name}}_msg_watchdog.max_cycles) {
            LOG_CRITICAL("DID NOT RECEIVE FAST CYCLE CAN MESSAGE: %u IN MAX CYCLES : %u\n", SYSTEM_CAN_MESSAGE_{{message.sender | upper}}_{{message.name | upper}},
                            s_{{message.name}}_msg_watchdog.max_cycles);
            s_{{message.name}}_msg_watchdog.missed = true;
        } else {
            s_{{message.name}}_msg_watchdog.missed = false;
        }
    }
    {%- endif %}
{%- endif %}
{%- endfor %}
    return STATUS_CODE_OK;
}

StatusCode check_medium_can_watchdogs() {
{%- for message in messages %}
{%- if message.cycle == "medium" %}
    {%- if message.receiver[project_name].watchdog != 0 %}
    if (!g_rx_struct.received_{{message.name}}) {
        ++s_{{message.name}}_msg_watchdog.cycles_over;
        if (s_{{message.name}}_msg_watchdog.cycles_over >= s_{{message.name}}_msg_watchdog.max_cycles) {
            LOG_CRITICAL("DID NOT RECEIVE MEDIUM CYCLE CAN MESSAGE: %u IN MAX CYCLES : %u\n", SYSTEM_CAN_MESSAGE_{{message.sender | upper}}_{{message.name | upper}},
                            s_{{message.name}}_msg_watchdog.max_cycles);
            s_{{message.name}}_msg_watchdog.missed = true;
        } else {
            s_{{message.name}}_msg_watchdog.missed = false;
        }
    }
    {%- endif %}
{%- endif %}
{%- endfor %}
    return STATUS_CODE_OK;
}

StatusCode check_slow_can_watchdogs() {
{%- for message in messages %}
{%- if message.cycle == "slow" %}
    {%- if message.receiver[project_name].watchdog != 0 %}
    if (!g_rx_struct.received_{{message.name}}) {
        ++s_{{message.name}}_msg_watchdog.cycles_over;
        if (s_{{message.name}}_msg_watchdog.cycles_over >= s_{{message.name}}_msg_watchdog.max_cycles) {
            LOG_CRITICAL("DID NOT RECEIVE SLOW CAN MESSAGE: %u IN MAX CYCLES : %u\n", SYSTEM_CAN_MESSAGE_{{message.sender | upper}}_{{message.name | upper}},
                            s_{{message.name}}_msg_watchdog.max_cycles);
            s_{{message.name}}_msg_watchdog.missed = true;
        } else {
            s_{{message.name}}_msg_watchdog.missed = false;
        }
    }
    {%- endif %}
{%- endif %}
{%- endfor %}
    return STATUS_CODE_OK;
}

