#pragma once

/************************************************************************************************
 * @file   {{ project_name }}.h
 *
 * @brief  Header file for {{ project_name }}
 *
 * @date   {{ current_date }}
 * @author Midnight Sun Team #24 - MSXVI
 ************************************************************************************************/

/* Standard library Headers */

/* Inter-component Headers */

/* Intra-component Headers */

/**
 * @defgroup {{ project_name }}
 * @brief    {{ project_name }} Firmware
 * @{
 */

/** @} */
