/************************************************************************************************
 * @file   test_{{ project_name }}.c
 *
 * @brief  Test file for {{ project_name }}
 *
 * @date   {{ current_date }}
 * @author Midnight Sun Team #24 - MSXVI
 ************************************************************************************************/

/* Standard library Headers */
#include <stdbool.h>
#include <stdio.h>

/* Inter-component Headers */
#include "test_helpers.h"
#include "unity.h"

/* Intra-component Headers */

void setup_test(void) {}

void teardown_test(void) {}

void test_example(void) {
    TEST_ASSERT_TRUE(true);
}
