## @defgroup {{ project_name }}
#  This is a python package for {{ project_name }}
#
## @file    {{ project_name }}.py
#  @date    {{ current_date }}
#  @author  Midnight Sun Team #24 - MSXVI
#  @brief   Core module for {{ project_name }}
#
#  @details
#
#  @ingroup {{ project_name }}

from {{ project_name }} import *


def main():
    """
    @brief Main function for {{ project_name }}
    """
    print("Welcome to {{ project_name }}")

if __name__ == "__main__":
    main()
