## @file    {{ project_name }}.py
#  @date    {{ current_date }}
#  @author  Midnight Sun Team #24 - MSXVI
#  @brief   Core module for {{ project_name }}
#
#  @details
#
#  @ingroup {{ project_name }}

