# This file is based on the memory_map.ld script
# It contains hardware-specific defines used for flashing
# the application/bootloader/bootstrap binaries

set FLASH_START             0x08000000
set FLASH_END               0x0807FFFF     # 512K
set BOOTSTRAP_SIZE          0x00000000     # 0
set BOOTLOADER_SIZE         0x00000000     # 0
set APP_ACTIVE_SIZE         0x00080000     # 512K
set APP_STAGING_SIZE        0x00000000     # 0
set FS_STORAGE_SIZE         0x00000000     # 0
